@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans&display=swap');

/* Global styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0e14a;
    font-family: 'Boogaloo', sans-serif;
    text-align: center;
}

/* Home Page */

.title {
    font-size: 70px;
    text-transform: uppercase;
    color: #44281d;
    margin-top: 50px;
}

.intro-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.btn {
    height: auto;
    width: 300px;
    font-family: 'Boogaloo', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #f0e14a;
    background-color: #44281d;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.btn:hover {
    background-color: #97ce4c;
    color: #e89ac7;
    transition: 0.5s;
}